<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>出诊安排 - 出诊安排 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>


    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>

<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="index">首页</a>><a href="jiuzhen">就诊指南</a>  > <a
            href="chuzhen">出诊安排</a>  > 出诊安排</span></div>
    <div class="baseLeft">
        <div class="title title05_52">就诊指南</div>
        <div class="newsMenu">
            <ul>
                <li class="first"><a href="jiuzhen" title="就诊流程"><em>就诊流程</em></a></li>
                <li class="active"><a href="keshi" title="科室导航"><em>科室导航</em></a></li>
                <li><a href="chuzhen" title="出诊安排"><em>出诊安排</em></a></li>
                <li class="second"><a href="chuzhen" title="出诊安排">出诊安排</a></li>
                <li><a href="https://map.baidu.com/" title="省医地图"><em>地图</em></a></li>
            </ul>
        </div>
        <div class="tools"><a href="#" target="_blank"><img src="images/ico_001.gif" width="52"
                                                                                    height="52"><em>互联智慧分诊平台</em></a><a
                style="margin-right:0;" href="#"><img src="images/ico_002.gif" width="52"
                                                          height="52"><em><span>96195</span> 综合平台</em></a><a
                href="#"><img src="images/ico_003.gif" width="52" height="52"><em>名医馆</em></a><a
                style="margin-right:0;" href="#" class="last"><img src="images/ico_004.gif" width="52"
                                                                           height="52"><em>信息查询</em></a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="baseRight">
        <div class="title01">出诊安排</div>
        <div class="choose"><span>医学部：</span>
            <p id="p">

                <!--     <a class="current" href="DutyTime-1" title="内科临床医学部">内科临床医学部</a>

                     <a href="DutyTime-2" title="外科临床医学部">外科临床医学部</a>

                     <a href="DutyTime-10" title="妇儿临床医学部">妇儿临床医学部</a>

                     <a href="DutyTime-13" title="心血管病医院">心血管病医院</a>

                     <a href="DutyTime-6" title="综合临床医学部">综合临床医学部</a>

                     <a href="DutyTime-4" title="门诊部">门诊部</a>

                     <a href="DutyTime-7" title="山西省立眼科医院">山西省立眼科医院</a>-->
            </p>
            <div class="clear"></div>
        </div>
        <div class="choose">
            <span>下属科室：</span>
            <p id="pk">

                <!--<a href="DutyTime-1-11" title="呼吸内科">呼吸内科</a>

                <a href="DutyTime-1-12" title="神经内科">神经内科</a>

                <a href="DutyTime-1-2" title="过敏反应科（变态反应科）">过敏反应科（变态反应科）</a>-->
            </p>
            <div class="clear"></div>
        </div>
        <div class="general">
            <div id="DepName" class="title07 generaltitle"></div>
            <div id="DIVWeekday">
                <div class="visitList">
                    <div class="title" id="title">
                        <!-- <div class="wide">星期四 <em>2017/1/12</em><span class="green">上午</span><span
                                 class="blue">下午</span></div>
                         <div class="wide">星期五 <em>2017/1/13</em><span class="green">上午</span><span
                                 class="blue">下午</span></div>
                         <div class="wide">星期六 <em>2017/1/14</em><span class="green">上午</span><span
                                 class="blue">下午</span></div>
                         <div class="wide">星期日 <em>2017/1/15</em><span class="green">上午</span><span
                                 class="blue">下午</span></div>
                         <div>星期一 <em>2017/1/16</em><span class="green">上午</span><span class="blue">下午</span></div>
                         <div>星期二 <em>2017/1/17</em><span class="green">上午</span><span class="blue">下午</span></div>
                         <div>星期三 <em>2017/1/18</em><span class="green">上午</span><span class="blue">下午</span></div>-->
                    </div>
                </div>
            </div>

            <div id="visitList"></div>
            <!--<div class="visitList">
                <div class="namelist"><h3>感染性疾病科</h3>
                    <div class="list01"><a target="_blank" href="Doctor-6">尚佳</a><a target="_blank"
                                                                                         href="Doctor-1127">毛重山</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-6">尚佳</a><a target="_blank"
                                                                                         href="Doctor-1127">毛重山</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-11">康谊</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-11">康谊</a></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-6">尚佳</a><a target="_blank"
                                                                                         href="Doctor-8">李玉魁</a><a
                            target="_blank" href="Doctor-1179">吴贺文</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-6">尚佳</a><a target="_blank"
                                                                                         href="Doctor-8">李玉魁</a><a
                            target="_blank" href="Doctor-1179">吴贺文</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-8">李玉魁</a><a target="_blank"
                                                                                          href="Doctor-1127">毛重山</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-8">李玉魁</a><a target="_blank"
                                                                                          href="Doctor-1127">毛重山</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-6">尚佳</a><a target="_blank"
                                                                                         href="Doctor-11">康谊</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-6">尚佳</a><a target="_blank"
                                                                                         href="Doctor-11">康谊</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="visitList">
                <div class="namelist"><h3>中医科</h3>
                    <div class="list01"><a target="_blank" href="Doctor-148">刘黎明</a><a target="_blank"
                                                                                            href="Doctor-147">何国强</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-146">刘俊保</a><a target="_blank"
                                                                                            href="Doctor-1144">丁忠于</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-144">杨明</a><a target="_blank"
                                                                                           href="Doctor-1144">丁忠于</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-1022">王艳春</a><a target="_blank"
                                                                                             href="Doctor-1144">丁忠于</a>
                    </div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-146">刘俊保</a><a target="_blank"
                                                                                            href="Doctor-710">杨强</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-148">刘黎明</a><a target="_blank"
                                                                                            href="Doctor-710">杨强</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-145">周世印</a><a target="_blank"
                                                                                            href="Doctor-151">潘铁滚</a><a
                            target="_blank" href="Doctor-1022">王艳春</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-148">刘黎明</a><a target="_blank"
                                                                                            href="Doctor-147">何国强</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-144">杨明</a><a target="_blank"
                                                                                           href="Doctor-152">王雪梅</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-146">刘俊保</a><a target="_blank"
                                                                                            href="Doctor-147">何国强</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="visitList">
                <div class="namelist"><h3>内分泌科</h3>
                    <div class="list01"><a target="_blank" href="Doctor-166">李全忠</a><a target="_blank"
                                                                                            href="Doctor-170">阚全娥</a><a
                            target="_blank" href="Doctor-1173">马书平</a><a target="_blank"
                                                                              href="Doctor-720">王遂军</a><a
                            target="_blank" href="Doctor-1020">张会峰</a><a target="_blank"
                                                                              href="Doctor-970">张云</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-166">李全忠</a><a target="_blank"
                                                                                            href="Doctor-170">阚全娥</a><a
                            target="_blank" href="Doctor-1173">马书平</a><a target="_blank"
                                                                              href="Doctor-720">王遂军</a><a
                            target="_blank" href="Doctor-1020">张会峰</a><a target="_blank"
                                                                              href="Doctor-970">张云</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-167">张菱</a><a target="_blank"
                                                                                           href="Doctor-386">苏永</a><a
                            target="_blank" href="Doctor-168">周焰</a><a target="_blank"
                                                                            href="Doctor-937">郑瑞芝</a><a
                            target="_blank" href="Doctor-172">贾海燕</a><a target="_blank"
                                                                             href="Doctor-1025">李旭晴</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-167">张菱</a><a target="_blank"
                                                                                           href="Doctor-386">苏永</a><a
                            target="_blank" href="Doctor-168">周焰</a><a target="_blank"
                                                                            href="Doctor-937">郑瑞芝</a><a
                            target="_blank" href="Doctor-172">贾海燕</a><a target="_blank"
                                                                             href="Doctor-1025">李旭晴</a></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-1056">袁慧娟</a><a target="_blank"
                                                                                             href="Doctor-170">阚全娥</a><a
                            target="_blank" href="Doctor-719">汪艳芳</a><a target="_blank"
                                                                             href="Doctor-167">张菱</a><a
                            target="_blank" href="Doctor-168">周焰</a><a target="_blank"
                                                                            href="Doctor-169">鲁平</a><a
                            target="_blank" href="Doctor-1020">张会峰</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-1056">袁慧娟</a><a target="_blank"
                                                                                             href="Doctor-170">阚全娥</a><a
                            target="_blank" href="Doctor-719">汪艳芳</a><a target="_blank"
                                                                             href="Doctor-167">张菱</a><a
                            target="_blank" href="Doctor-168">周焰</a><a target="_blank"
                                                                            href="Doctor-169">鲁平</a><a
                            target="_blank" href="Doctor-1020">张会峰</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-166">李全忠</a><a target="_blank"
                                                                                            href="Doctor-1173">马书平</a><a
                            target="_blank" href="Doctor-169">鲁平</a><a target="_blank"
                                                                            href="Doctor-720">王遂军</a><a
                            target="_blank" href="Doctor-937">郑瑞芝</a><a target="_blank"
                                                                             href="Doctor-1059">袁倩</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-166">李全忠</a><a target="_blank"
                                                                                            href="Doctor-1173">马书平</a><a
                            target="_blank" href="Doctor-169">鲁平</a><a target="_blank"
                                                                            href="Doctor-720">王遂军</a><a
                            target="_blank" href="Doctor-937">郑瑞芝</a><a target="_blank"
                                                                             href="Doctor-1059">袁倩</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-1056">袁慧娟</a><a target="_blank"
                                                                                             href="Doctor-719">汪艳芳</a><a
                            target="_blank" href="Doctor-386">苏永</a><a target="_blank"
                                                                            href="Doctor-169">鲁平</a><a
                            target="_blank" href="Doctor-937">郑瑞芝</a><a target="_blank"
                                                                             href="Doctor-896">杨慧慧</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-1056">袁慧娟</a><a target="_blank"
                                                                                             href="Doctor-719">汪艳芳</a><a
                            target="_blank" href="Doctor-386">苏永</a><a target="_blank"
                                                                            href="Doctor-169">鲁平</a><a
                            target="_blank" href="Doctor-937">郑瑞芝</a><a target="_blank"
                                                                             href="Doctor-896">杨慧慧</a></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="visitList">
                <div class="namelist"><h3>血液内科</h3>
                    <div class="list01"><a target="_blank" href="Doctor-178">张鲁芳</a><a target="_blank"
                                                                                            href="Doctor-179">臧玉柱</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-178">张鲁芳</a><a target="_blank"
                                                                                            href="Doctor-179">臧玉柱</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-174">张茵</a><a target="_blank"
                                                                                           href="Doctor-182">杨靖</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-174">张茵</a><a target="_blank"
                                                                                           href="Doctor-182">杨靖</a>
                    </div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-177">雷平冲</a><a target="_blank"
                                                                                            href="Doctor-180">郭建民</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-177">雷平冲</a><a target="_blank"
                                                                                            href="Doctor-180">郭建民</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-181">刘忠文</a><a target="_blank"
                                                                                            href="Doctor-183">王同保</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-181">刘忠文</a><a target="_blank"
                                                                                            href="Doctor-183">王同保</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-174">张茵</a><a target="_blank"
                                                                                           href="Doctor-176">朱尊民</a>
                    </div>

                    <div class="list01"><a target="_blank" href="Doctor-174">张茵</a><a target="_blank"
                                                                                           href="Doctor-176">朱尊民</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="visitList">
                <div class="namelist"><h3>肾病风湿免疫科</h3>
                    <div class="list01"><a target="_blank" href="Doctor-157">张小玲</a><a target="_blank"
                                                                                            href="Doctor-156">刘冰</a><a
                            target="_blank" href="Doctor-840">苗艳</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-157">张小玲</a><a target="_blank"
                                                                                            href="Doctor-156">刘冰</a><a
                            target="_blank" href="Doctor-840">苗艳</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-158">楚天舒</a><a target="_blank"
                                                                                            href="Doctor-159">陈晖</a><a
                            target="_blank" href="Doctor-839">张宏</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-158">楚天舒</a><a target="_blank"
                                                                                            href="Doctor-159">陈晖</a><a
                            target="_blank" href="Doctor-839">张宏</a></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-154">朱清</a><a target="_blank"
                                                                                           href="Doctor-155">程银桢</a><a
                            target="_blank" href="Doctor-156">刘冰</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-155">程银桢</a><a target="_blank"
                                                                                            href="Doctor-157">张小玲</a><a
                            target="_blank" href="Doctor-156">刘冰</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-158">楚天舒</a><a target="_blank"
                                                                                            href="Doctor-159">陈晖</a><a
                            target="_blank" href="Doctor-839">张宏</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-158">楚天舒</a><a target="_blank"
                                                                                            href="Doctor-159">陈晖</a><a
                            target="_blank" href="Doctor-839">张宏</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-154">朱清</a><a target="_blank"
                                                                                           href="Doctor-897">梁艳</a><a
                            target="_blank" href="Doctor-842">刘谓</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-154">朱清</a><a target="_blank"
                                                                                           href="Doctor-897">梁艳</a><a
                            target="_blank" href="Doctor-842">刘谓</a></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="visitList">
                <div class="namelist"><h3>肿瘤内科</h3>
                    <div class="list01"><a target="_blank" href="Doctor-162">罗执芬</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-162">罗执芬</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-163">仓顺东</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-163">仓顺东</a></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-713">周建炜</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-713">周建炜</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-164">王文玉</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-164">王文玉</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-161">高天慧</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-161">高天慧</a></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="visitList">
                <div class="namelist"><h3>过敏反应科（变态反应科）</h3>
                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-1007">郭晓斌</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-1007">郭晓斌</a></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"></div>

                    <div class="list01"><a target="_blank" href="Doctor-199">李英</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-199">李英</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-463">安云霞</a></div>

                    <div class="list01"><a target="_blank" href="Doctor-463">安云霞</a></div>
                    <div class="clear"></div>
                </div>
            </div>-->
            <div class="notice">
                <h4>温馨提示</h4>
                <p>我院医师肩负着外出会诊、学术活动、教学、外出进修、出国学习、下乡等任务，因此出诊时间会临时调整，以当天出诊医师为准。此表仅供参考。</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>
<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.DutyTime.js"></script>
<script language="javascript" type="text/javascript" src="js/page/chuzhen.js"></script>
</body>
</html>