<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
    <script  src="js/search.js" type="text/javascript"></script>
    <div class="topHidden"></div>
    <div class="toolBase">
        <div class="BaseMark">
            <div class="index_dlzc" id="tou">
                <a id="dl" href="login">登录</a>&nbsp;丨&nbsp;<a id="zc" href="regist">注册</a>
            </div>
            <script>
                $(function () {
                    var userName = GetQueryString("userName");
                    if (userName != null) {
                        $("#tou").empty().append("欢迎您：<a href=''>" + userName + "</a>&nbsp;|&nbsp;<a href='logout'>退出</a>")
                    }
                })

                function GetQueryString(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null)
                        return decodeURI(r[2]);
                    return null;
                }
            </script>
        </div>
    </div>
    <div class="BaseMark logoBase"><a href="index"><img src="images/logo.jpg" class="load" width="227" height="75"/></a>
        <div class="searchBase">
            <div class="itemBase">
                <div class="divType" data-state="0">全站内容</div>
                <ul>
                    <li data-id="1">全站内容</li>
                    <li data-id="2">医生查找</li>
                    <li data-id="3">科室查找</li>
                </ul>
            </div>
            <form method="get" action="Search" onSubmit="return Kunyi.CheckSearchForm()">
                <input type="hidden" id="Type" name="Type" value="1"/>
                <input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off"
                       onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords"/>
                <input type="submit" value="搜索" class="boxsub animated"/>
            </form>
        </div>
    </div>
</header>
</html>