<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <meta http-equiv="mobile-agent" content="format=html5;url=http://m.hnsrmyy.net/"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->
    <meta name="Author" content="miraclevision technical team,kunyi"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
    <!--    <link rnel="stylesheet" href="css/secondary.css" type="text/css" />-->
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
    <script language="javascript" type="text/javascript" src="js/index_news.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>

<!--轮播图-->
<section class="bannerBase BaseMark">
    <div class="Banners">
        <ul class="AnimUl" id="ul_lunbo">
            <li><a href="http://www.hnsrmyy.net/NewsDetail-8464" title="院党委举行学习党的十八届六中全会精神和 省十次党代会精神专题辅导"><img
                    src="images/lunbo01.jpg" alt="院党委举行学习党的十八届六中全会精神和 省十次党代会精神专题辅导"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8476" title="2016山西省眼科医师大会开启眼科发展新篇章"><img
                    src="images/lunbo02.jpg" alt="2016山西省眼科医师大会开启眼科发展新篇章"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8470" title="立足中原 开放合作“直通梅奥国际诊疗中心中原中心”启动">
                <img src="images/lunbo03.JPG" alt="立足中原 开放合作“直通梅奥国际诊疗中心中原中心”启动"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8468" title="山西省医院自媒体联盟成立了！"><img
                    src="images/lunbo04.jpg" alt="山西省医院自媒体联盟成立了！"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8472" title="“爱心传递 防治出生缺陷”公益行活动走进山西"><img
                    src="images/lunbo05.jpg" alt="“爱心传递 防治出生缺陷”公益行活动走进山西"/></a></li>


            <li><a href="http://www.hnsrmyy.net/NewsDetail-7944" title="我院空中救护成功转运首位重症患者―首个“中国紧急救援山西航空救援基地”落户省医"><img
                    src="images/lunbo06.jpg" alt="我院空中救护成功转运首位重症患者―首个“中国紧急救援山西航空救援基地”落户省医"/></a>
            </li>

<!--            <li><a href="javascript:void(0)" title=""><img src="uploadfiles/thumb/2016090608460311.jpg" alt=""/></a>-->
<!--            </li>-->
        </ul>
        <div class="tools">
            <a href="javascript:void(0)" class="prev"><img alt="上一幅" src="images/btn_prev01.png" width="34"
                                                           height="34"/></a>
            <a href="javascript:void(0)" class="next"><img alt="下一幅" src="images/btn_next01.png" width="34"
                                                           height="34"/></a>
            <div class="text" id="BannerInfo"></div>
            <ul class="ulMark">
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
            </ul>
            <div class="clear"></div>
            <div id="BannerSwitch" class="animated" data-type="0" data-right="0">
                <img src="images/ico_027.png" width="5" height="7" class="animated"><span>隐藏</span>
            </div>
        </div>
    </div>
</section>

<section class="NewsBase BaseMark">
    <div class="tools"><a href="#" target="_blank"><img src="images/ico_001.gif" class="load"
                                                                                width="52"
                                                                                height="52"/><em>互联智慧分诊平台</em></a><a
            href="#"><img src="images/ico_002.gif" class="load" width="52" height="52"/><em><span>96195</span> 综合平台</em></a>
        <a href="#"><img alt="" src="images/ico_003.gif" class="load" width="52" height="52"/><em>名医馆</em></a><a
                href="#" class="last"><img src="images/ico_004.gif" class="load" width="52" height="52"/><em>信息查询</em></a>
    </div>
<!--    <input type="hidden" id="newsOrGgID" value=""/>-->
    <div class="noticeBase">
        <div class="notice notice01" id="div_gonggao"><a href="news?NewOrGongGao=1"  class="more">更多</a>
            <div class="title"><em>最新公告</em><span>Latest Announcement</span></div>
<!--            拼接最新公告-->
        </div>


        <div class="notice notice02" id="div_new">
            <a href="news?NewOrGongGao=2" class="more">更多</a>
            <div class="title"><em>新闻快讯</em><span>Hospital News</span></div>
<!--        拼接新闻快讯-->
        </div>
    </div>
    <div class="clear"></div>
</section>

<section class="doctorsBase BaseMark">
    <div class="toolsBase">
        <div class="title"><em>专家介绍</em> <span>Expert Introduction</span></div>
        <div class="tools"><a href="javascript:;" class="ASwitch" id="DSearchSwitch">快速查找</a>
            <form method="get" class="search" action="" onSubmit="return Kunyi.CheckSearchFrom()">
                <input type="hidden" name="Type" value="2"/>
                <input type="text" name="SearchWords" placeholder="请输入医生名字"
                       class="animated" value="" autocomplete="off" id="text_doctor"
                       maxlength="28"/>
                <input class="btn" type="button" id="btn_docQuery" value=""/>
            </form>
            <a href="officeList" class="Amore">更多 >></a>
            <a href="javascript:;" class="Aprev"></a>
            <a href="javascript:;" class="Anext"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contents" id="doc_d1">
        <ul data-num="0" class="ul_doctor">

        </ul>
        <div class="hackR"></div>
        <div class="hackL"></div>
    </div>
    <div class="DFastSearch">
        <div class="DFTitle"><label>按医生姓名首字母查找</label>
            <div class="div_zimu">
                <form action="#">
                    <input type="text" name="zimu" id="zimuId" class="input_zm">
                    <input type="button" id="zimuDel" value="删除" class="input_zm input_sc">
                </form>
            </div>
            <button class="animated">关闭查找</button>
        </div>
        <div class="DFContent">
            <div class="DListBase">
                <div class="contents" style="margin-top: -60px;">
                    <ul data-num="0" class="ul_zimu"></ul>
                </div>
            </div>
            <div class="IndexWords">
                <ul>
                    <li data-index="0">A</li>
                    <li data-index="1" class="other">B</li>
                    <li data-index="2">C</li>
                    <li data-index="3" class="other">D</li>
                    <li data-index="4">E</li>
                    <li data-index="5" class="other">F</li>
                    <li data-index="6">G</li>
                    <li data-index="7" class="other">H</li>
                    <li data-index="8">I</li>
                    <li data-index="9" class="other">J</li>
                    <li data-index="10">K</li>
                    <li data-index="11" class="other">L</li>
                    <li data-index="12">M</li>
                </ul>
                <ul>
                    <li data-index="13" class="other">N</li>
                    <li data-index="14">O</li>
                    <li class="other" data-index="15">P</li>
                    <li data-index="16">Q</li>
                    <li data-index="17" class="other">R</li>
                    <li data-index="18">S</li>
                    <li data-index="19" class="other">T</li>
                    <li data-index="20">U</li>
                    <li data-index="21" class="other">V</li>
                    <li data-index="22">W</li>
                    <li data-index="23" class="other">X</li>
                    <li data-index="24">Y</li>
                    <li data-index="25" class="other">Z</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="officesBase BaseMark" style="height: 362px;">
    <div class="toolsBase">
        <div class="title"><em>重点专科</em> <span>Key Specialty</span></div>
        <div class="tools"><a href="javascript:;" class="ASwitch" id="OSearchSwitch">快速查找科室</a>
            <a href="officeList" class="Amore">更多 >></a>
            <a href="javascript:;" class="Aprev"></a>
            <a href="javascript:;" class="Anext"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contents">
        <ul data-num="0" id="officeEmphasis">
        </ul>
        <div class="hackR"></div>
        <div class="hackL"></div>
    </div>
    <div class="hiddenLineR"></div>
    <div class="hiddenLineL"></div>
    <div class="OFastSearch">
        <div class="OFTitle"><label>快速查找科室</label>
            <button class="animated">返回重点科室</button>
        </div>
        <div class="OFContent">
            <div class="OListBase" style="width: 3600px"></div>
        </div>
    </div>
</section>

<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>
<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Index.js"></script>
<script language="javascript" type="text/javascript" src="js/doctor.js"></script>
<script language="javascript" type="text/javascript" src="js/koffice.js"></script>
</body>
</html>