<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <meta http-equiv="mobile-agent" content="format=html5;url=http://m.hnsrmyy.net/"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->
    <meta name="Author" content="miraclevision technical team,kunyi"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
    <!--    <link rel="stylesheet" href="css/secondary.css" type="text/css" />-->
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>

<section class="bannerBase BaseMark">
    <div class="Banners">
        <ul class="AnimUl">
            <li><a href="http://www.hnsrmyy.net/NewsDetail-8464" title="院党委举行学习党的十八届六中全会精神和 省十次党代会精神专题辅导"><img
                    src="uploadfiles/thumb/201607271939462.JPG" alt="院党委举行学习党的十八届六中全会精神和 省十次党代会精神专题辅导"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8476" title="2016山西省眼科医师大会开启眼科发展新篇章"><img
                    src="uploadfiles/thumb/201607271939462.jpg" alt="2016山西省眼科医师大会开启眼科发展新篇章"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8470" title="立足中原 开放合作
“直通梅奥国际诊疗中心中原中心”启动"><img src="uploadfiles/thumb/201607271939462.JPG" alt="立足中原 开放合作
“直通梅奥国际诊疗中心中原中心”启动"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8468" title="山西省医院自媒体联盟成立了！"><img
                    src="uploadfiles/thumb/2016072719395872.JPG" alt="山西省医院自媒体联盟成立了！"/></a></li>

            <li><a href="http://www.hnsrmyy.net/NewsDetail-8472" title="“爱心传递 防治出生缺陷”公益行活动走进山西"><img
                    src="uploadfiles/thumb/2016072719395872.JPG" alt="“爱心传递 防治出生缺陷”公益行活动走进山西"/></a></li>


            <li><a href="http://www.hnsrmyy.net/NewsDetail-7944" title="我院空中救护成功转运首位重症患者―首个“中国紧急救援山西航空救援基地”落户省医"><img
                    src="uploadfiles/thumb/2016072719395872.JPG" alt="我院空中救护成功转运首位重症患者―首个“中国紧急救援山西航空救援基地”落户省医"/></a>
            </li>

            <li><a href="javascript:void(0)" title=""><img src="uploadfiles/thumb/2016090608460311.jpg" alt=""/></a>
            </li>
        </ul>
        <div class="tools">
            <a href="javascript:void(0)" class="prev"><img alt="上一幅" src="images/btn_prev01.png" width="34"
                                                           height="34"/></a>
            <a href="javascript:void(0)" class="next"><img alt="下一幅" src="images/btn_next01.png" width="34"
                                                           height="34"/></a>
            <div class="text" id="BannerInfo"></div>
            <ul class="ulMark">
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
                <li class="animated"></li>
            </ul>
            <div class="clear"></div>
            <div id="BannerSwitch" class="animated" data-type="0" data-right="0">
                <img src="images/ico_027.png" width="5" height="7" class="animated"><span>隐藏</span>
            </div>
        </div>
    </div>
</section>

<section class="NewsBase BaseMark">
    <div class="tools"><a href="http://www.o2omed.com.cn/" target="_blank"><img src="images/ico_001.gif" class="load"
                                                                                width="52"
                                                                                height="52"/><em>互联智慧分诊平台</em></a><a
            href="96195"><img src="images/ico_002.gif" class="load" width="52" height="52"/><em><span>96195</span> 综合平台</em></a>
        <a href="Hospital"><img alt="" src="images/ico_003.gif" class="load" width="52" height="52"/><em>名医馆</em></a><a
                href="DrugsInfo" class="last"><img src="images/ico_004.gif" class="load" width="52" height="52"/><em>信息查询</em></a>
    </div>

    <div class="noticeBase">
        <div class="notice notice01"><a href="news" class="more">更多</a>
            <div class="title"><em>最新公告</em><span>Latest Announcement</span></div>
            <div class="first"><a href="NewsDetail-8528" id="ANoticeFirst" target="_blank"
                                  title="关于征集阜外华中心血管病医院院徽的公告"><img src="pic/pic_005.jpg" class="load" width="126"
                                                                   height="76"/></a>
                <div><span>2017-01-09</span><a href='NewsDetail-8528' title='关于征集阜外华中心血管病医院院徽的公告' target='_blank'>关于征集阜外华中心血管病医院院徽的公告</a>
                </div>
                <div class="clear"></div>
            </div>
            <ul>
                <li><span>2017-01-06</span> <a target="_blank" href="NewsDetail-8513"
                                               title="2017年1月14日（周六）、1月15日（周日）出诊医师排班表">2017年1月14日（周六）、1月15日（周日）出诊医师排班表</a>
                </li>
                <li><span>2017-01-05</span> <a target="_blank" href="NewsDetail-8512" title="医院标题2017年人才招聘面试通知">医院标题2017年人才招聘面试通知</a>
                </li>
                <li><span>2017-01-04</span> <a target="_blank" href="NewsDetail-8511" title="关于我院2017年人才招聘面试工作 提前举行的通知">关于我院2017年人才招聘面试工作
                    提前举行的通知</a></li>
            </ul>
        </div>


        <div class="notice notice02">
            <a href="news" class="more">更多</a>
            <div class="title"><em>新闻快讯</em><span>Hospital News</span></div>
            <div class="first"><a href="NewsDetail-8479" id="ANewsFirst" target="_blank" title="互联智慧疼痛医联体全面启动"><img
                    src="pic/pic_005.jpg" class="load" width="126" height="76"/></a>
                <div><span>2016-12-29</span><a href='NewsDetail-8479' title='互联智慧疼痛医联体全面启动' target='_blank'>互联智慧疼痛医联体全面启动</a>
                </div>
                <div class="clear"></div>
            </div>
            <ul>
                <li><span>2016-12-29</span> <a target="_blank" href="NewsDetail-8478"
                                               title="豫医联盟医院标题分会成立">豫医联盟医院标题分会成立</a></li>
                <li><span>2016-12-29</span> <a target="_blank" href="NewsDetail-8477"
                                               title="2016年肺癌多学科综合治疗论坛 暨山西省肺癌规范化治疗学习班顺利召开">2016年肺癌多学科综合治疗论坛
                    暨山西省肺癌规范化治疗学习班顺利召开</a></li>
                <li><span>2016-12-29</span> <a target="_blank" href="NewsDetail-8476" title="2016山西省眼科医师大会开启眼科发展新篇章">2016山西省眼科医师大会开启眼科发展新篇章</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</section>

<section class="doctorsBase BaseMark">
    <div class="toolsBase">
        <div class="title"><em>专家介绍</em> <span>Expert Introduction</span></div>
        <div class="tools"><a href="javascript:;" class="ASwitch" id="DSearchSwitch">快速查找</a>
            <form method="get" class="search" action="" onSubmit="return Kunyi.CheckSearchFrom()">
                <input type="hidden" name="Type" value="2"/>
                <input type="text" name="SearchWords" placeholder="请输入医生名字"
                       class="animated" value="" autocomplete="off" id="text_doctor"
                       maxlength="28"/>
                <input class="btn" type="button" id="btn_docQuery" value=""/>
            </form>
            <a href="keshi" class="Amore">更多 >></a>
            <a href="javascript:;" class="Aprev"></a>
            <a href="javascript:;" class="Anext"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contents" id="doc_d1">
        <ul data-num="0" class="ul_doctor">

            <!--            <li><a href="ys" title="医生姓名" target="_blank" class="img"><img alt="姓名" title="姓名"-->
            <!--               src="pic/201603221527067.png" width="120" height="162"/></a>-->
            <!--                <a href="ys" title="医生姓名" target="_blank" class="name">姓名</a>-->
            <!--                <a href="keshi" title="所在医院" target="_blank" class="office">所在医院医院</a>-->
            <!--                <a href="ys" title="姓名" target="_blank" class="post">主任医师 研究生导师</a>-->
            <!--                <a href="ys" title="姓名" target="_blank" class="btn more">详细</a>-->
            <!--                <a href="#" target="_blank" class="btn date">预约</a></li>-->
        </ul>
        <div class="hackR"></div>
        <div class="hackL"></div>
    </div>
    <div class="DFastSearch">
        <div class="DFTitle"><label>按医生姓名首字母查找</label>
            <div class="div_zimu">
                <form action="#">
                    <input type="text" name="zimu" id="zimuId" class="input_zm">
                    <input type="button" id="zimuDel" value="删除" class="input_zm input_sc">
                </form>
            </div>
            <button class="animated">关闭查找</button>
        </div>
        <div class="DFContent">
            <div class="DListBase">
                <div class="contents" style="margin-top: -60px;overflow-x: auto;">
                    <ul data-num="0" class="ul_zimu">

                    </ul>
                </div>
            </div>
            <div class="IndexWords">
                <ul>
                    <li data-index="0">A</li>
                    <li data-index="1" class="other">B</li>
                    <li data-index="2">C</li>
                    <li data-index="3" class="other">D</li>
                    <li data-index="4">E</li>
                    <li data-index="5" class="other">F</li>
                    <li data-index="6">G</li>
                    <li data-index="7" class="other">H</li>
                    <li data-index="8">I</li>
                    <li data-index="9" class="other">J</li>
                    <li data-index="10">K</li>
                    <li data-index="11" class="other">L</li>
                    <li data-index="12">M</li>
                </ul>
                <ul>
                    <li data-index="13" class="other">N</li>
                    <li data-index="14">O</li>
                    <li class="other" data-index="15">P</li>
                    <li data-index="16">Q</li>
                    <li data-index="17" class="other">R</li>
                    <li data-index="18">S</li>
                    <li data-index="19" class="other">T</li>
                    <li data-index="20">U</li>
                    <li data-index="21" class="other">V</li>
                    <li data-index="22">W</li>
                    <li data-index="23" class="other">X</li>
                    <li data-index="24">Y</li>
                    <li data-index="25" class="other">Z</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="officesBase BaseMark" style="height: 362px;">
    <div class="toolsBase">
        <div class="title"><em>重点专科</em> <span>Key Specialty</span></div>
        <div class="tools"><a href="javascript:;" class="ASwitch" id="OSearchSwitch">快速查找科室</a>
            <a href="keshi" class="Amore">更多 >></a>
            <a href="javascript:;" class="Aprev"></a>
            <a href="javascript:;" class="Anext"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contents">
        <ul data-num="0" id="officeEmphasis">
            <!--<li><i class="ico01"></i>
                 <div class="img animated"><img alt="呼吸内科" src="pic/pic_007.png" width="80" height="80"/></div>
                 <a href="keshimx" title="呼吸内科" class="office">呼吸内科</a>
                 <p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p>
                 <a href="keshimx" title="呼吸内科" class="btn more">查看详细</a>
                 <a href="keshiys" title="呼吸内科医生" class="btn doctor">科室专家</a></li>-->

        </ul>
        <div class="hackR"></div>
        <div class="hackL"></div>
    </div>
    <div class="hiddenLineR"></div>
    <div class="hiddenLineL"></div>
    <div class="OFastSearch">
        <div class="OFTitle"><label>快速查找科室</label>
            <button class="animated">返回重点科室</button>
        </div>
        <div class="OFContent">
            <div class="OListBase" style="width: 3600px">
<!--                <div class="OList"><h6>国际医疗中心</h6><div class="item"><span>> </span><a href="">产科</a></div></div>-->

            </div>
        </div>
    </div>
</section>

<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>
<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Index.js"></script>
<script language="javascript" type="text/javascript" src="js/doctor.js"></script>
<script language="javascript" type="text/javascript" src="js/koffice.js"></script>
</body>
</html>