<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>科室导航 - 就诊指南 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>

<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="index">首页</a><a href="jiuzhen">>就诊指南</a> > 科室导航</span></div>
    <div class="baseLeft">
        <div class="title title05_52">就诊指南</div>
        <div class="newsMenu">
            <ul>
                <li class="first"><a href="jiuzhen" title="就诊流程"><em>就诊流程</em></a></li>
                <li class="active"><a href="keshi" title="科室导航"><em>科室导航</em></a></li>
                <li><a href="chuzhen" title="出诊安排"><em>出诊安排</em></a></li>
                <li class="second"><a href="chuzhen" title="出诊安排">出诊安排</a></li>
                <li class="second"><a href="NoticeList-4" title="停诊信息">停诊信息</a></li>
                <li><a href="ArticleList-56" title="住院指南"><em>住院指南</em></a></li>
                <li><a href="Article-57" title="来院路线"><em>来院路线</em></a></li>
                <li><a href="ArticleList-10" title="医保服务"><em>医保服务</em></a></li>
                <li><a href="Telephone" title="电话查询"><em>电话查询</em></a></li>
                <li><a href="Article-65" title="信息查询"><em>信息查询</em></a></li>
                <li class="second"><a href="Article-65" title="医疗服务价格查询">医疗服务价格查询</a></li>
                <li class="second"><a href="CheckupsInfo" title="检验结果查询">检验结果查询</a></li>
                <li><a href="Distribution" title="省医地图"><em>省医地图</em></a></li>

            </ul>
        </div>
        <div class="tools"><a href="http://www.o2omed.com.cn/" target="_blank"><img src="images/ico_001.gif" width="52"
                                                                                    height="52"><em>互联智慧分诊平台</em></a><a
                style="margin-right:0;" href="96195"><img src="images/ico_002.gif" width="52" height="52"><em><span>96195</span>
            综合平台</em></a><a href="Hospital"><img src="images/ico_003.gif" width="52" height="52"><em>名医馆</em></a><a
                style="margin-right:0;" href="DrugsInfo" class="last"><img src="images/ico_004.gif" width="52"
                                                                           height="52"><em>信息查询</em></a>
            <div class="clear"></div>
        </div>
        <div class="partNav" id="partNav">
            <ul id="partNavUl">
                <!--<li><a href="javascript:;" data-index="1">内科临床医学部</a></li><li><a href="javascript:;" data-index="2">外科临床医学部</a></li><li><a href="javascript:;" data-index="10">妇儿临床医学部</a></li><li><a href="javascript:;" data-index="4">门诊部</a></li><li><a href="javascript:;" data-index="14">体检中心</a></li><li><a href="javascript:;" data-index="5">急诊医学部</a></li>--></ul>
        </div>
    </div>
    <div class="baseRight">
        <div class="title01">科室导航</div>
        <div class="partChoice">
            <h1>快速进入科室</h1>
            <p>请先选择科室所在的医学部然后选择科室名称，即可快速进入您要去的科室。</p>

            <form>
                <select id="ddlDepartment">
                    <option value="0">选择医药部</option>
                </select>
                <select id="ddlOffices">
                    <option value="0">选择科室</option>
                </select>
                <input id="GoToOffice" type="button" class="animated" value="进入科室">
            </form>
        </div>
        <div class="part" id="part">

            <!--    <div class="part01" id="Department1">
                            <div class="partTitle"><div class="left">内科临床医学部</div><div class="right"><a class='green' href='DutyTime-1'>出诊安排</a></div></div>
                           <ul>
                           <li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li>
                            <li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li><li>
                  <span class='import1'></span><h3>呼吸内科</h3><p>我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p><div><a class="coffee" href="keshimx" title="呼吸内科">查看详细</a><a class='green' href='keshiys' title='呼吸内科医生'>科室医生</a></div>
                             </li> </ul>
                           <div class="clear"></div>
                        </div>-->

        </div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>

<div id="Footer_CodeDiv"></div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Department.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.DutyTime.js"></script>
<script language="javascript" type="text/javascript" src="js/page/keshi.js"></script>
</body>
</html>