<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>关于开展2016年度山西省国际联合实验室认定工作的通知 - 通知公告 - 科学研究 - 医院标题</title>
    <meta name="Keywords" content="2016年度 山西省国际联合实验室"/>
    <meta name="Description"
          content="关于开展2016年度山西省国际联合实验室认定工作的通知各位主任：          为促进我省科技对外开放与合作，有效利用和对接国际科技资源为我省经济建设服务，充分发挥国际联合实验室的引领和示范作用，根据《山西省科技创新平台建设与管理办法（试行）》相关规定……"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>

<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="index">首页</a>><a href="kexue">科学研究</a> > 通知公告</span></div>
    <div class="baseLeft">
        <div class="title title05_12">科学研究</div>
        <div class="newsMenu">
            <ul>
                <li class="first active"><a href="kexue" title="通知公告"><em>通知公告</em></a></li>
                <li><a href="kexue" title="学科建设"><em>学科建设</em></a></li>
                <li><a href="kexue" title="科技支撑"><em>科技支撑</em></a></li>
                <li><a href="kexue" title="常用下载"><em>常用下载</em></a></li>
                <li><a href="kexue" title="学术交流"><em>学术交流</em></a></li>
                <li><a href="kexue" title="临床试验"><em>临床试验</em></a></li>

            </ul>
        </div>
        <div class="tools"><a href="http://www.o2omed.com.cn/" target="_blank"><img src="images/ico_001.gif" width="52"
                                                                                    height="52"><em>互联智慧分诊平台</em></a><a
                style="margin-right:0;" href="96195"><img src="images/ico_002.gif" width="52" height="52"><em><span>96195</span>
            综合平台</em></a><a href="Hospital"><img src="images/ico_003.gif" width="52" height="52"><em>名医馆</em></a><a
                style="margin-right:0;" href="DrugsInfo" class="last"><img src="images/ico_004.gif" width="52"
                                                                           height="52"><em>信息查询</em></a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="baseRight">
        <div class="title01">通知公告</div>
        <div class="article detail">
            <h2 id="H2Title">关于开展2016年度山西省国际联合实验室认定工作的通知</h2>
            <div id="DIVTool" class="title04">
                <span id="SPANDate">发布日期：2016-09-30</span>
                <span>字号调整<em id="EMChange"><img src="images/font_ico02.png" width="22" height="23"/>
                <a class="fot12" href="javascript:;" data-type="0"></a>
                <a class="fot14" href="javascript:;" data-type="1"></a>
                <a class="fot16" href="javascript:;" data-type="2"></a></em> <b id="FontState">14px</b></span>
                <span id="SPANNum" style="border:none; margin-right:0;">浏览次数（2447）</span>
                <div class="itemBase" id="phoneArticle"></div>
                <div class="itemBase share">
                    <div id="bdshare" class="bdshare_b divType" style="padding:0px; float:none;">分享此篇文章（<em
                            class="shareCount"></em>）
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=6713615"></script>
                    <script type="text/javascript" id="bdshell_js"></script>
                    <script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000);</script>
                </div>
            </div>
            <div class="clear"></div>
            <div id="DIVContent" class="DIVContent"><p style="text-align:left;" align="left">
	<span style="color:#2B2B2B;line-height:150%;font-family:宋体;"><span><br/>
<br/>
</span></span>
                <p>
                    <b><span style="color:#1548A1;font-family:宋体;font-size:16pt;">关于开展<span>2016</span>年度山西省国际联合实验室认定工作的通知<span></span></span></b>
                </p>
                <p style="text-align:left;" align="left">
                    <span style="color:#2B2B2B;line-height:150%;font-family:宋体;"></span>&nbsp;
                </p>
                <p style="text-align:left;" align="left">
                    <span style="color:#2B2B2B;line-height:150%;font-family:宋体;"></span>&nbsp;
                </p>
                <p style="text-align:left;" align="left">
		<span style="color:#2B2B2B;line-height:150%;font-family:宋体;">各位主任：<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>为促进我省科技对外开放与合作，有效利用和对接国际科技资源为我省经济建设服务，充分发挥国际联合实验室的引领和示范作用，根据《山西省科技创新平台建设与管理办法（试行）》相关规定，现开展<span>2016</span>年度山西省国际联合实验室的认定工作。具体要求如下：<span>&nbsp;<br/>
<br/>
&nbsp;&nbsp;&nbsp; </span></span><span style="color:#2B2B2B;line-height:150%;font-family:黑体;">一．申报要求</span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;"><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span><span style="color:#2B2B2B;line-height:150%;font-family:宋体;">（一）此次申报山西省国际联合实验室的单位须认真对照《山西省国际联合实验室申报条件》（附件<span>2</span>）确定是否符合申报条件。山西省内高校、科研机构、在山西省注册的具有省级以上研发平台的科技型企业均可申报。<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>（二）申报单位须符合指南方向，重点支持在高端装备制造、现代食品、功能性新材料、新能源及新能源汽车、现代农业、生物医药、节能环保、电子信息等领域开展国际科技合作的研发平台，主要研究方向应突出优势和特色，避免过于宽泛。<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>（三）申报单位须有国际科技合作基础，已开展实质性的国际科技合作，与国外高校、科研院所、科技型企业等科研单位签署有科技合作协议，承担过省级以上科技攻关计划（国际科技合作项目）、技术转移引导计划（科技开放合作项目、产学研合作项目）、重大科技专项等具有国际科技合作内容的项目。<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>（四）同一法人单位申报国际联合实验室不超过<span>3</span>个。<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span></span><span style="color:#2B2B2B;line-height:150%;font-family:黑体;">二、申报方法及认定程序</span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;"><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;">（一）填报《山西省国际联合实验室申请书》（格式见附件<span>1</span>），申报材料一式<span>3</span>份，并提供相关附件材料（包括承担合作项目计划通知书、合作协议、合作完成的成果、专利、论文等），纸质材料正反印刷为<span>A4</span>胶装，申报书和佐证材料分开单独装订<span>,</span>同时上报电子文档<span>,</span>加盖依托单位和主管部门公章。<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>（二）由山西省科学技术厅相关处室对提交材料的完备性进行初审，通过后将组织申报单位答辩和专家评议，形成专家咨询意见。<span>&nbsp;<br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>（三）根据专家评议意见，审核并认定山西省国际联合实验室。<span>&nbsp;<br/>
<br/>
&nbsp;&nbsp;&nbsp; </span></span><span style="color:#2B2B2B;line-height:150%;font-family:黑体;">三、申报时间</span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;">：<b>自发布之日起至<span>2016</span>年<span>10</span>月<span>14</span>日截止。<span></span></b></span>
                </p>
                <br/>
                <br/>
                <p style="text-align:left;text-indent:20.65pt;" align="left">
                    <b><span
                            style="color:#2B2B2B;line-height:150%;font-family:宋体;">请各位主任高度重视，认真组织申报，并在<span>10</span>月<span>14</span>日前将纸质版申报材料一式<span>4</span>份递交到科研外事处，电子版发送到科研外事处公共邮箱。</span></b><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;"><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span><span style="color:#2B2B2B;line-height:150%;font-family:黑体;">四、联系方式</span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;"><br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;">电<span>&nbsp; </span>话：<span>65580059</span>（内线<span>2059</span>）<span>&nbsp;&nbsp;&nbsp;<br/>
<br/>
&nbsp;&nbsp;&nbsp; </span>电子邮箱：</span><span style="color:#444444;font-family:宋体;"><a href="mailto:sykywsc@163.com">sykywsc@163.com</a></span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;"><br/>
<br/>
&nbsp;&nbsp;&nbsp; </span><span
                        style="color:#2B2B2B;line-height:150%;font-family:宋体;">地址：省医科教大厦<span>2614</span>房间<span></span></span>
                </p>
                <p>
                    <br/>
                    <br/>
                    <span style="color:#2B2B2B;font-family:宋体;font-size:10.5pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
                        style="color:#2B2B2B;font-family:宋体;font-size:10.5pt;">附件：<span><br/>
<br/>
&nbsp;&nbsp;&nbsp; <a href="/UploadFiles/file/20160930/20160930151039_3794.doc"
                      target="_blank">1. 山西省国际联合实验室申请书</a></span></span>
                </p>
                <p>
                    <span style="color:#2B2B2B;font-family:宋体;font-size:10.5pt;"><span>&nbsp;&nbsp;<a
                            href="/UploadFiles/file/20160930/20160930151101_7877.doc"
                            target="_blank">2. 山西省国际联合实验室申报条件</a></span></span>
                </p></div>

        </div>
        <div class="PrevNext">
            <p><span>上一篇</span><a disabled='disabled' title='已经是第一篇'>[已经是第一篇]</a></p>
            <p><span>下一篇</span><a href="NewsDetail-8190" title="关于申报2016年度山西省创新型科技团队的通知">关于申报2016年度山西省创新型科技团队的通知</a></p>
        </div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>

<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
</body>
</html>
