<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<div class="layui-carousel video_mask" id="login_carousel">
    <div carousel-item>
        <div class="carousel_div1"></div>
        <div class="carousel_div2"></div>
        <div class="carousel_div3"></div>
    </div>
    <div class="login layui-anim layui-anim-up">
        <div class="layui-logo">
            <!--            <a href="#" target="_blank"><img src="img/logo.jpg" /></a>-->
            <a href="index">
                <legend class="text-white" style="font-size: 18px;">Micro Dortor</legend>
            </a>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend class="text-white">网上预约挂号平台</legend>
        </fieldset>
        <form method="post" id="actionForm" action="main.html">
            <!--            <div class="info">[[${error}]]</div>-->
            <div>
                <div class="layui-form-item">
                    <input type="text" id="account" lay-verify="required|account" name="phone" maxlength="20"
                           placeholder="请输入手机号"
                           autocomplete="off" autofocus="autofocus" class="layui-input" required>
                </div>
                <div class="layui-form-item">
                    <input type="password" id="password" lay-verify="required" name="password" maxlength="20"
                           placeholder="请输入密码"
                           autocomplete="off" class="layui-input" pattern="" required>
                </div>
                <div class="layui-form-item form_code">
                    <input type="text" id="code" lay-verify="required|code" maxlength="6" placeholder="请输入验证码"
                           autocomplete="off" class="layui-input" required>
                    <div class="code">
                        <input type="button" id="yzm" onclick="createCode()" value=""/>
                    </div>
                </div>

                <button class="login_btn layui-btn layui-btn-radius layui-btn-normal" style="margin-bottom: 20px;"
                        onclick="jump();">登录
                </button>
                <strong class="text-white">还没有账号？ <a href="regist"
                                                     style="color: cornflowerblue;">立即注册&raquo;</a></strong>
            </div>
        </form>
        <hr class="layui-bg-gray">
        <div class="layui-footer text-white">
            <!-- 底部固定区域 -->
            &copy;2019 郑州华臻科技有限公司版权所有
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>
