<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>互联智慧疼痛医联体全面启动 - 省医快讯 - 新闻动态 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="12月24日-25日，“国家临床重点专科?中日医院疼痛医联体”启动仪式、“医院标题互联智慧疼痛医联体”成立仪式暨2016年山西省疼痛诊疗规范化培训班在巩义市人民医院举行。山西省卫计委副主任黄红霞，中日友好医院疼痛科主任、中国医师协会疼痛分会会长樊碧发……"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>

<section class="BaseMark">
    <div class="bread">
        您所在的位置<span th:switch="${newsXqQuery.isNewGongGao}">
        <a href="index">首页</a>><a href="#">新闻动态</a> > <span th:case="1">最新公告</span><span th:case="2">新闻快讯</span></span></div>
   <div class="baseLeft">
        <div class="title title05_19">新闻动态</div>
        <div class="newsMenu">
            <ul>
                <!--这里等会后台弄跳转   然后那边的页面你判断一下显示哪个就行了-->
                <li th:classappend="${newsXqQuery.isNewGongGao==2?'first active':''}"><a href="news?NewOrGongGao=2" title="新闻快讯"><em>新闻快讯</em></a></li>
                <li th:classappend="${newsXqQuery.isNewGongGao==1?'first active':''}"><a href="news?NewOrGongGao=1" title="最新公告"><em>最新公告</em></a></li>
            </ul>
        </div>
        <div class="tools"><a href="http://www.o2omed.com.cn/" target="_blank"><img src="images/ico_001.gif" width="52"
                                                                                    height="52"><em>互联智慧分诊平台</em></a><a
                style="margin-right:0;" href="96195"><img src="images/ico_002.gif" width="52" height="52"><em><span>96195</span>
            综合平台</em></a><a href="Hospital"><img src="images/ico_003.gif" width="52" height="52"><em>名医馆</em></a><a
                style="margin-right:0;" href="DrugsInfo" class="last"><img src="images/ico_004.gif" width="52"
                                                                           height="52"><em>信息查询</em></a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="baseRight">
       <div class="title01" th:switch="${newsXqQuery.isNewGongGao}">
           <span th:case="1"><span>最新公告</span></span>
           <span th:case="2"><span>新闻快讯</span></span>
       </div>
        <div class="article detail">
            <h2 id="H2Title" th:text="${newsXqQuery.title}">互联智慧疼痛医联体全面启动</h2>
            <div id="DIVTool" class="title04">
                <span id="SPANDate"  th:text="${newsXqQuery.createDate}">发布日期：2016-12-29</span>
                <span>字号调整<em id="EMChange"><img src="images/font_ico02.png" width="22" height="23"/>
                <a class="fot12" href="javascript:;" data-type="0"></a>
                <a class="fot14" href="javascript:;" data-type="1"></a>
                <a class="fot16" href="javascript:;" data-type="2"></a></em> <b id="FontState">14px</b></span>
                <span id="SPANNum" style="border:none; margin-right:0;" th:text="'浏览次数（'+${newsXqQuery.readNum+1}+'）'">浏览次数（280）</span>
            </div>
            <div class="clear"></div>
            <div id="DIVContent" class="DIVContent">
                <p th:text="${newsXqQuery.content}"></p>
            </div>
        </div>
        <div class="PrevNext">
            <p th:if="${newsSyp!=null}"><span>上一篇</span>：<span th:text="${newsSyp.title}" style="width: 500px;text-align: left;border: 0px;">[已经是第一篇]</span></p>
            <p th:if="${newsXyp!=null}"><span>下一篇</span>：<span th:text="${newsXyp.title}" style="width: 500px;text-align: left;border: 0px;">豫医联盟医院标题分会成立</span></p>
        </div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>

<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
</body>
</html>
