<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>呼吸内科 - 科室导航 - 就诊指南 - 医院标题</title>
<meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
<meta name="Description"
      content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
<meta name="robots" content="All"/>
<noscript>
    <meta http-equiv="refresh" content="0"; url="/noscript.html"/>
</noscript>
<!--[if lt IE 7]>
<meta http-equiv="refresh" content="0"; url="/YouLose.html"/><![endif]-->

<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="css/normalize.css" type="text/css"/>
<link rel="stylesheet" href="css/secondary.css" type="text/css"/>
<!--[if lt IE 9]>
<script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
<body>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>
<script src="js/koffice.js"></script>
<script src="js/jquery-1.12.4.js"></script>
<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="index">首页</a>><a href="ArticleList-54">就诊指南</a> > <a href="officeList">科室导航</a> > <a th:href="@{kofficeById(id=${office.id})}" th:text="${office.kName}"></a> > 科室简介</span></div>
    <div class="baseLeft">
        <div class="partLeft">
            <div class="title partTitle"><a href="keshimx"></a></div>
            <div class="newsMenu depmMenu">
                <h1 style="margin-top: -46px; font-size: 22px; color: #8c8c8c; margin-left: 24px; margin-bottom: 15px;" th:text="${office.kName}"></h1>
                <ul>
                    <li class="active"><a th:href="@{resume(id=${office.id})}" id="officejianjie"><em>科室简介</em></a></li>
                    <li><a th:href="@{doctorByKId(id=${office.id})}"><em>专家介绍</em></a></li>

                    <li><a href="OfficeNewsList-11-1" title="工作动态"><em>工作动态</em></a></li>

                    <li><a href="OfficeNewsList-11-4" title="医疗设备"><em>医疗设备</em></a></li>

                    <li><a href="OfficeNewsList-11-2" title="健康教育"><em>健康教育</em></a></li>

                </ul>
            </div>
        </div>
        <div class="tools"><a href="http://www.o2omed.com.cn/" target="_blank"><img src="images/ico_001.gif" width="52" height="52"><em>互联智慧分诊平台</em></a><a style="margin-right:0;" href="96195"><img src="images/ico_002.gif" width="52" height="52"><em><span>96195</span> 综合平台</em></a><a href="Hospital"><img src="images/ico_003.gif" width="52" height="52"><em>名医馆</em></a><a style="margin-right:0;" href="DrugsInfo" class="last"><img src="images/ico_004.gif" width="52" height="52"><em>信息查询</em></a><div class="clear"></div></div>
    </div>

    <div class="baseRight">
        <div class="title01">科室简介</div>
        <div id="DIVContent" class="article intro"><p align="left">
            <strong>
                <span style="font-size:24px;">科室简介</span>
            </strong>
            <strong>
                <span style="color:#34ceb4;font-size:24px;">About us</span>
            </strong>
            <span style="margin-left: 500px; padding-right: 26px ;margin-bottom: 30px; background-color: #f1e159; height: 50px; line-height: 50px; font-size: 24px; display: inline-block;border: 1px solid #f1e159;align-content: center;">
                <a th:href="@{kofficeById(id=${office.id})}" th:title="${office.kName}">进入科室</a>
            </span>
        </p>
            <br/>
            <p style="text-align:left;text-indent:32.25pt;background:white;" align="left">
                <span style="font-family:仿宋_GB2312;color:#6e6e6e;font-size:12pt;" th:text="${office.resume}"></span><span style="font-family:新宋体;color:black;font-size:16pt;"></span>
            </p><!--
            </span></span>
            <p>
                <br />
            </p>
            <p style="text-align:left;text-indent:32.25pt;background:white;" align="left">
                <span style="font-family:仿宋_GB2312;color:black;font-size:18px;"></span><span style="font-family:新宋体;color:black;font-size:14pt;"></span>
            </p>
            <p>
                <br />
            </p>
            <p align="justify">
                <span style="font-family:NSimSun;font-size:16px;"><strong></strong></span>
            </p>
            <p>
                <br />
            </p>--></div>
        <!--<div id="DIVOnDutyInfo" class="visitDate">
            <div class="title">出诊安排<em>Visits Time</em></div>
            <div class="visitList">
                <div class="time"><span class="green">时段</span><div class="blue">星期四  <em>2017/1/12</em></div><div class="green">星期五  <em>2017/1/13</em></div><div class="blue">星期六  <em>2017/1/14</em></div><div class="green">星期日  <em>2017/1/15</em></div><div class="blue">星期一  <em>2017/1/16</em></div><div class="green">星期二  <em>2017/1/17</em></div><div class="blue">星期三  <em>2017/1/18</em></div></div>

                <div class="am"><span>上午</span><span><img src="images/cz_ico3.png" width="22" height="22" alt="出诊"></span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
                <div class="pm"><span>下午</span><span><img src="images/cz_ico3.png" width="22" height="22" alt="出诊"></span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
            </div>
        </div>-->
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<footer th:include="footer::footer"></footer>
</body>
</html>