<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>医生|呼吸内科 - 科室导航 - 就诊指南 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<!--页面头部-->
<header th:include="header::header"></header>
<!--页面菜单-->
<nav th:include="nav::nav"></nav>


<section class="BaseMark">
    <div class="bread">您所在的位置<span><a href="index">首页</a>><a href="#">就诊指南</a> > <a href="#">科室导航</a> > <a href="#"
                                                                                                           th:text="${doctor.kName}"></a> > 医生详情</span>
    </div>
    <div class="doctorLeft">
        <img th:src="@{/doctorImages/{photopath}(photopath=${doctor.photopath})}" id="DThumb" class="DThumb" width="112"
             height="150" alt="医生"/>
        <h3 id="H3Name" th:text="${doctor.dName}"></h3>
        <h4 id="H4Position" th:text="${doctor.postion}"></h4>
        <a href="#" target="_blank">预约</a>
    </div>
    <div class="doctorRight">
        <div class='import import1'></div>
        <div class="title01"><h3>所在科室：</h3>
            <h1 th:text="${doctor.kName}"></h1><span><a th:href="@{kofficeById(id=${doctor.kId})}"
                                                        th:title="${doctor.kName}">进入科室</a></span></div>
        <div class="clear"></div>
        <div id="DIVContent" class="article intro"><p style="text-align:left;">
            <span style="font-family:'Tahoma';color:#121212;font-size:9pt;"
                  th:text="${doctor.dName}+','+${doctor.kName}+${doctor.postion}"><span></span></span><span
                style="color:#121212;font-family:Tahoma;font-size:9pt;line-height:1.5;"
                th:text="${doctor.resume}"></span>
        </p>
            <p></p>
            <span></span><span style="font-family:'Tahoma';color:#121212;font-size:9pt;"></span>
            <p>
                <br/>
            </p></div>
        <div id="DIVOnDutyInfo" class="visitDate">
            <div class="title">出诊安排<em>Visits Time</em></div>
            <div class="visitList">
                <div class="time"><span class="green">时段</span>
                    <div class="blue">星期四 <em>2017/1/12</em></div>
                    <div class="green">星期五 <em>2017/1/13</em></div>
                    <div class="blue">星期六 <em>2017/1/14</em></div>
                    <div class="green">星期日 <em>2017/1/15</em></div>
                    <div class="blue">星期一 <em>2017/1/16</em></div>
                    <div class="green">星期二 <em>2017/1/17</em></div>
                    <div class="blue">星期三 <em>2017/1/18</em></div>
                </div>

                <div class="am"><span>上午</span><span><img src="images/ico_001.gif" width="22" height="22"
                                                          alt="出诊"></span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
                </div>
                <div class="pm"><span>下午</span><span><img src="images/ico_001.gif" width="22" height="22"
                                                          alt="出诊"></span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>


<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img src="pic/pic_QR01.jpg" width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR02.jpg" width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR03.jpg" width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR04.jpg" width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR05.jpg" width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR06.jpg" width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR07.jpg" width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR08.jpg" width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img src="pic/pic_QR09.jpg" width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<!--页面底部-->
<footer th:include="footer::footer"></footer>

<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
</body>
</html>