<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.DoctorMapper">
<!--    查询所有医生-->
    <select id="findQueryDoctor" resultType="Doctor" parameterType="String">
        SELECT 	d.id,d.dName,d.dPinyin,d.birthDate,d.cyDate,d.eAddress,k.kName,d.postion,d.edcuation,d.graduate,d.hospital,d.resume,d.isExpert,d.achievement,d.photopath,d.status,d.remark
        FROM doctor d
        JOIN koffice k ON d.kId=k.id
        <where>
            <if test="dname != null and dname != ''">
                and d.dName LIKE "%"#{dname}"%"
            </if>

            <if test="dpinyin != null and dpinyin != ''">
                and d.dPinyin LIKE #{dpinyin}"%"
            </if>
        </where>
    </select>




</mapper>