<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.KofficeMapper">
    <select id="selectKoffices" resultType="Koffice">
        select id, kName, resume, isEmphasis, status, remark, medicalId from koffice where medicalId=#{medicalId}
    </select>


    <!-- 查询重点科室 -->
    <select id="findEmphasisList" resultType="Koffice">
        select id, kName,resume,isEmphasis,status,remark, medicalId
        from koffice
        where status = 1
    </select>

    <select id="findKofficeById" resultType="Koffice">
        select id, kName,resume,isEmphasis,status,remark, medicalId
        from koffice
        where id = #{kId} and status = 1
    </select>

    <!-- 查询所有科室 -->
    <select id="findOfficeList" resultType="Koffice">
        select id,isEmphasis,kName,medicalId,remark,resume,status
        from koffice
        where status = 1
    </select>


</mapper>